body{
    width: auto;
    height:auto;
    background: linear-gradient(90deg, #0B03FC 0%, #7303FC 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

main{
    width: 100%;
    height: auto;
}

.logo{
    position: absolute;
    width: 618px;
    height: 826px;
    border-right: 3px solid #FFFFFF;   
}
.rec{
    
    width: 255px;
    height: 82px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    
    
}

#myfile{
    position: relative;
    width: 279px;
    height: 70px;
    left: 1129px;
    top: 505px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;
    background: rgba(0, 0, 0, 0.28);
}
p{
    
    position: absolute;
    left: 777px;
    bottom: 16px;
    top: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.social-media{
    position: absolute;
    width: 85px;
    height: 40px;
    top: 19px;
    right: 819px;
    left:1016px;
    bottom: 18px;
    
}
.inputArquivo{
    display: none;
}

.github,
.linkedin{
    display: inline;
}



/* To-Do

- criar botão funcional que suba arquivo
- editar o player de vídeo